[submodule "CDI_Practica1"]
	path = CDI_Practica1
	url = git@github.com:mrds90/CDI_Practica1.git
[submodule "CDI_Practica2"]
	path = CDI_Practica2
	url = git@github.com:mrds90/CDI_Practica2.git
[submodule "CDI_Practica3"]
	path = CDI_Practica3
	url = git@github.com:mrds90/CDI_Practica3.git
